<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css"/>
  <link rel="stylesheet" href="/css/AllViewcss.css"/>
  <link rel="stylesheet" href="/css/PersoneViewcss.css"/>
  <link rel="stylesheet" href="/css/PersoneAdd.css"/>
  <link rel="stylesheet" href="/css/Denied.css"/>
  <title>Phone book</title>
</head>
<body>
    <header class="header">
  <a href="/Persone/Index">
    <img class="logo" src="~/img/logo.jpg" alt="logo" />
  </a>
  <nav class="nav-links">
    @await Component.InvokeAsync("AnonOrAuth")
  </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
</body>
</html>
